<!DOCTYPE html>
<html lang="en">
  <head>
    
    {# This is the base template for the site–other templates extend this one #}
    
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Your new 11ty blog" />
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    {% seo "" %}
  </head>
  <body>
  <main>
    
    <header class="header">
         <h1 class="heading">
    Olivia's Doc Blog</h1>
      <div>
        logo
      </div>
      </header>
  
    {{ content | safe }}

      <footer class="footer">
        <div class="links">
          <span class="divider">*</span>
          <a href="/">Home</a>
          <span class="divider">*</span>
          <a href="/classes">All Classes</a>
          <span class="divider">*</span>
          <a href="/about">About</a>
          <span class="divider">*</span>
        </div>
      </footer>
    
  </main>
   
  </body>
</html>