<!DOCTYPE html>
<html lang="en">
  <head>
    
    {# This is the base template for the site–other templates extend this one #}
    
    <meta charset="utf-8" />
    <link rel="icon" href="https://cdn.glitch.global/d7ac8ce9-d6b5-4915-b92c-e6f0bf0d0c29/Lee-Dice.png?v=1726062115331" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Your new 11ty blog" />
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    {% seo "" %}
  </head>
  <body>
  <main>
    
    <header class="header">
         <div class="title">
           <a class="homebutton" href="/"><img class="icon" src="https://cdn.glitch.global/d7ac8ce9-d6b5-4915-b92c-e6f0bf0d0c29/Lee-Dice.png?v=1726062115331"></a>
           <a class="homebutton" href="/"><h1 class="heading">Olivia's Doc Blog</h1></a>
      </div>
      <div class="links">
          <span class="divider">*</span>
          <a href="/classes">All Classes</a>
          <span class="divider">*</span>
          <a href="/projects">Projects</a>
          <span class="divider">*</span>
        </div>
      </header>
  
    {{ content | safe }}

      <footer class="footer">
      </footer>
    
  </main>
   
  </body>
</html>