---
layout: layouts/base.njk
templateClass: tmpl-home
tags:
  - class
  - spring2025
---

{# This is the template for the Posts page–it lists the posts in the collection #}

<div class="wrapper home">
  <div>
    <h3 style="text-align: center;">
      Computational Approaches to Narrative
    </h3>
    <ul class="projects">
      {%- for hype in collections.hypes -%}
        <li class="projects" {% if page.url == hype.url %} aria-current="page"{% endif %}> <a href='{{ hype.url }}'>{{ hype.data.title }}</a></li>
      {%- endfor -%}
    </ul>
  </div>
</div>
