---
layout: layouts/base.njk
templateClass: tmpl-home
date: 2021-03-09
tags:
  - class
---

{# This is the template for the Posts page–it lists the posts in the collection #}

<div class="wrapper home">
  <div class="content">
    {{ content | safe }}
    
    {# After the the content defined in index.md, list the blog posts in the collection #}
    <ul>
      {%- for class in collections.classes -%}
        <li{% if page.url == class.url %} aria-current="page"{% endif %}>{{ class.data.page.date | htmlDateString }} — <a href='{{ class.url }}'>{{ class.data.title }}</a></li>
      {%- endfor -%}
      <li><a href="/classes">View all Classes</a></li>
    </ul>
  </div>
</div>
