---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# This is the template for the Posts page–it lists the posts in the collection #}

<div class="wrapper home">
  <div class="content">
    {{ content | safe }}
    <ul>
      {%- for  in collections.app -%}
        <li{% if page.url == app.url %} aria-current="page"{% endif %}> <a href='{{ app.url }}'>{{ app.data.title }}</a></li>
      {%- endfor -%}
    </ul>
  </div>
</div>