---
layout: layouts/base.njk
templateClass: tmpl-home
date: 2021-03-09
tags:
  - class
---

{# This is the template for the Posts page–it lists the posts in the collection #}

<div class="wrapper home">
  <div class="content">
    {{ content | safe }}
    <ul>
      {%- for project in collections.projects -%}
        <li{% if page.url == project.url %} aria-current="page"{% endif %}><a href='{{ project.url }}'>{{ project.data.title }}</a></li>
      {%- endfor -%}
    </ul>
  </div>
</div>