---
layout: layouts/base.njk
templateClass: tmpl-home
tags:
  - class
  - spring2025
---

{# This is the template for the Posts page–it lists the posts in the collection #}

<div class="wrapper home">
  <div>
    <h3 style="text-align: center;">
      Code of Music
    </h3>
    <ul class="projects">
      {%- for com in collections.coms -%}
        <li class="projects" {% if page.url == com.url %} aria-current="page"{% endif %}> <a href='{{ com.url }}'>{{ com.data.title }}</a></li>
      {%- endfor -%}
    </ul>
  </div>
</div>
