---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# The Home page uses this template–it extends the base template #}

<div class="wrapper home">
  <h1>
    Olivia's Doc Blog</h1>
  <div class="home-content">
    {{ content | safe }}
    
    {# After the the content defined in index.md, list the blog posts in the collection #}
    <ul>
      {%- for class in collections.classes -%}
        <li{% if page.url == class.url %} aria-current="page"{% endif %}><a href='{{ class.url }}'>{{ class.data.title }}</a></li>
      {%- endfor -%}
<!--       <li><a href="/classes">View all Classes</a></li> -->
    </ul>

  </div>
</div>


