---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# The Home page uses this template–it extends the base template #}

<div class="wrapper home">
  <div class="class-content">
    {{ content | safe }}
    <div>
      <h5>  
      Contact Info Incoming!</h5>
    </div>
    {# After the the content defined in index.md, list the blog posts in the collection #}
    <div class="lists"><div>
      <h4>
      Fall 2024
    </h4>
    <ul>
      {%- for class in collections.classes -%}
        <li{% if page.url == class.url %} aria-current="page"{% endif %}><a href='{{ class.url }}'>{{ class.data.title }}</a></li>
      {%- endfor -%}

    </ul>
</div>
    
    <div>
      <h4>
      Projects
    </h4>
    <ul>
      {%- for project in collections.projects -%}
        <li{% if page.url == project.url %} aria-current="page"{% endif %}><a href='{{ project.url }}'>{{ project.data.title }}</a></li>
      {%- endfor -%}

    </ul>
      </div></div>
    
  </div>
</div>


