---
layout: layouts/base.njk
templateClass: tmpl-home
tags:
  - class
  - fall2024
---


<div class="wrapper home">
  <div>
    <h3 style="text-align: center;">
      Communications Lab: Hypercinema
    </h3>
    <ul class="projects">
      {%- for hype in collections.hypes -%}
        <li{% if page.url == hype.url %} aria-current="page"{% endif %}> <a href='{{ hype.url }}'>{{ hype.data.title }}</a></li>
      {%- endfor -%}
    </ul>
  </div>
</div>