---
layout: layouts/base.njk
templateClass: tmpl-home
tags:
  - class
  - fall2024
---

{# This is the template for the Posts page–it lists the posts in the collection #}

<div class="wrapper home">
   <div>
    <h3 style="text-align: center;">
      Intro to Computational Media
    </h3>
    <ul class="projects">
      {%- for icm in collections.icms -%}
        <li{% if page.url == icm.url %} aria-current="page"{% endif %}> <a href='{{ icm.url }}'>{{ icm.data.title }}</a></li>
      {%- endfor -%}
    </ul>
  </div>
</div>