---
layout: layouts/base.njk
templateClass: tmpl-home
tags:
  - class
  - fall2024
---

{# This is the template for the Posts page–it lists the posts in the collection #}

<div class="wrapper home">
  <div>
    <h3 style="text-align: center;">
      Intro to Physical Computing
    </h3>
    <ul class="projects">
      {%- for pc in collections.pcs -%}
        <li{% if page.url == pc.url %} aria-current="page"{% endif %}> <a href='{{ pc.url }}'>{{ pc.data.title }}</a></li>
      {%- endfor -%}
    </ul>
  </div>
</div>