---
layout: layouts/base.njk
templateClass: tmpl-home
---


<div class="wrapper home">
    {{ content | safe }}   
   <h3 style="text-align: center;">
      Projects
    </h3>
    <ul class="projects">
      {%- for project in collections.projects -%}
      <li{% if page.url == project.url %} aria-current="page"{% endif %}><a href='{{ project.url }}'>{{ project.data.title }}</a></li>
      {%- endfor -%}
    </ul>
</div>
